#footer{
      padding: 15px;
      background-color: #1c1f4c;
      color: white;
}

#footer p{
      margin-top: 10px;
      text-align: center;
      font-size: 15px;
}

@media (max-width: 898px){
      #footer p{
            font-size: 14px;
      }
}

@media (max-width: 691px){
      #footer p{
            font-size: 12px;
      }
}

@media (max-width: 460px){
      #footer p{
            font-size: 10px;
      }
      #footer{
            padding: 12px;
      }
}